.body-wrapper{

	display: flex;
	flex-direction:row;
	background-color: white;
	height: 100vh;
}

.column-nav {

	display: flex;
	gap:20px;
	flex-direction: column;
	align-items: flex-start;
	flex:1;
	padding:30px;
	background-color: #2B876D;
	color: white;
	
	
}
.header-nav {
	border-bottom: 3px solid gray;
	
}

.board {
	flex:5
}

.nav-container2{
	background-color: white;
    box-shadow: 2px 2px 2px gainsboro;
    position:fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    font-size: 40px;
    z-index: 999;
}

.logo2{
	font-weight: bold;
	font-size: 30px;
}

.dash-nav {
	align-items: center;
	width:400px;
	justify-content: space-between;
	margin-top: auto;
}

.tittle2{
	font-weight: lighter;
	font-size: 30px;;
}

