
.main-container {
    background-color: whitesmoke;
    background: url("/public/Assets/background3.png") no-repeat center;
    background-size: cover;
    height: 100vh;
   
}

.main-wrapper{

    
    
    display:flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.main-bird {
    margin-top: 20px ;
    flex:1 1 50%;
}

.main-text{
    margin-top: 110px;
    text-align: left;
    flex:1 1 50%;
}

.main-button {
    background-color: #F8914C !important;
    margin: 3px;
    margin-top: 30px;
    font-weight:lighter !important;
    padding: 20px !important;
    border: none !important;
    box-shadow: inset 0 0 0 0 #75C9C0 !important;
    transition: ease-out 0.3s !important;
    outline: none;
}

.main-button:hover {
    box-shadow: inset 120px 0 0 0 #75C9C0 !important;
}

.tittle-text {
    font-weight: bolder;
    font-size: 50px;
}

.p-text {

    padding-top: 20px;
    font-size: 30px;
    font-weight: lighter;
    color: grey;
}

@media screen and (max-width: 700px) {
    #main-bird-img {
      width: 100%;
    }
}