#product-page {
    padding: 40px;
    text-align: left;
    
    color:white;
}  

#product-bckg {
    background-image: url('./star-pattern.svg'), linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(77,35,134,1) 0%, rgba(152,57,176,1) 100%);
}

#product-content p {
    margin-top: 40px;
}

#opening {
    font-weight: bold;
    font-style: italic;
}

@media screen and (min-width: 992px) {
    #product-page {
        width: 900px;
        margin: 0 auto;
    }
}