:root {
    --secondary: #F8F8F8;
    --accent: #F77E21;
}

.section * {
    text-align: left;
    font-family: 'Mulish', sans-serif;
}

p {
    font-weight: normal !important;
}

h5, h2 {
    font-weight: 800 !important;
}

p, h3, h5 {
    margin-bottom: 10px !important;
}

.section-content-wrap {
    padding: 15px 0;
}

.main-landing-section {
    width: 530px;
    margin: 0 auto;
}

.main-landing-section h1 {
    font-weight: 800 !important;
}

.section {
    padding: 80px 0px;
}

.image {
    width: 300px !important;
    height: 300px !important;

    margin: 0 auto;

    background-size: cover !important;
    background-position: center center;
}

.secondary-sec {
    background-color: var(--secondary);
}

#image-1 {
    background-image: url('../../public/Assets/arg-1.jpg')
}

#image-2 {
    background-image: url('../../public/Assets/css-1.jpg')
}

#image-3 {
    background-image: url('../../public/Assets/crm-1.jpg')
}