


.nav-container {
    background-color: white;
    box-shadow: 2px 2px 2px gainsboro;
    height: 80px;
    position:fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 50px;
    z-index: 999;

}

.nav-button {
    background-color:   #F8914C ! important;
    margin: 3px;
    font-weight:lighter !important;
    padding: 10px !important;
    border: none !important;
    
}

.loguito{
    font-weight: bold;
}