.item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.6em;

    height: auto;   
    padding: 7px;
}

.item:hover {
    color: #F8914C;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 26px;
}


.nav-container {
    background-color: white;
    box-shadow: 2px 2px 2px gainsboro;
    position:fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 50px;
    z-index: 999;

}

.nav-button {
    background-color:   #F8914C ! important;
    margin: 3px;
    font-weight:lighter !important;
    padding: 10px !important;
    border: none !important;
    
}

.logo{
    font-weight: bold;
    text-decoration: none;
    color: black !important;
}

@media screen and (min-width: 992px) {
    .item a {
        font-size: 0.35em;
    }

    .title {
        font-size: 17px;
    }
}